source /home/pineda/anaconda3/bin/activate quick_tune
TODO
output/
previous/
data/
aft_data*
experiments*
**/__pycache__/*
.vscode/*
logs/
**.pyc
plots/
!timm/data
!output/qt_metalearned_extended/*
!output/qt_metalearned_mini/*
